* {
	margin: 0;
	padding: 0;
}

section {
	padding-top: 30px;
	padding-bottom: 30px;
}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

/* NAVIGATION */
.top-nav {
	background-color: #A2CED7; 
}

nav.nav {
	position: fixed;
	z-index: 20000;
	width: 100%;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
}

div.nav {
	float: left;
	line-height: 30px;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: bold;
}

.top-nav ul.nav {
	float: right;
	margin-right: 100px;
	margin-top: 20px;
}

nav .nav-pills a {
	color: #333333;
	font-size: 18px;
}

.top-nav .nav-pills > li.active > a,
.top-nav .nav-pills > li.active > a:hover,
.top-nav .nav-pills > li.active > a:focus {
  background-color: #333333;
}

.navbar i {
	color: #000000;
	text-decoration: none;
}

.navbar li {
	list-style-type: none;
}

.menu a {
	color: #333333;
}

div.menu {
	right: 0;
	padding-right: 30px;
	position: fixed;
	z-index: 21000;
}

/* CAROUSEL */
.carousel {
	position: relative;
	top: 40px;
}

.carousel-inner .item img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

/* SERVICES */
#services {
	padding-top: 50px;
}

.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

/* PORTFOLIO */
#portfolio {
	background-color: #99D2A5;
	padding-top: 80px;
}

.section-heading {
	color: #ffffff;
	font-weight: bold;
	font-size: 45px;
}

.section-description {
	color: #ffffff;
	font-size: 18px;
}

.portfolio-btns .nav-pills a{
	color: #fff;
	background-color: transparent;
	font-size: 18px;
}

.portfolio-btns .nav-pills > li.active > a,
.portfolio-btns .nav-pills > li.active > a:hover,
.portfolio-btns .nav-pills > li.active > a:focus {
  background-color: transparent;
  border: solid 2px #fff;
}

.portfolio-btns {
	width: 100%;
	margin: 0 auto;
}

.btn {
	margin: 0;
	background-color: #fff;
	width: 140px;
	height: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	margin-bottom: 50px;
}

#portfolio ul.nav {
	display: inline-block;
}

#portfolio div.dropdown .btn {
	margin: 0;
}

#portfolio div.dropdown-menu > button {
	width: 100%;
	margin: 0;
}

/* TEMPLATES */
#templates {
	background-color: #EFEFEF;
}

#templates .section-heading,
#templates .section-description {
	color: #5A5A5A;
}

#templates #btn1 {
	background-color: #99D3A2;
	color: #fff;
}

#templates #btn2 {
	background-color: #A2D1D9;
	color: #fff;
}

hr {
	border-color: #E5E5E5;
}

#templates .template-img {
	margin-top: 40px;
}

/* TEAM */
#team {
	background-color: #DDB4C4;
	padding-top: 80px;
}

#team img,
#recentposts img {
	width: 100%;
	margin: 0;
}

.thumbnail h4 {
	font-size: 32px;
	font-weight: bold;
}

.thumbnail h5 {
	font-weight: bold;
}

#team i,
#recentposts i,
footer i {
	color: #fff;
}

.facebook {
	color: #fff;
	background-color: #29409F;
	border-radius: 40px;
	height: 40px;
	width: 40px;
	line-height: 50px;
	display: inline-block;
	margin: 10px;
}

.twitter {
	background-color: #309DF2;
	border-radius: 40px;
	height: 40px;
	width: 40px;
	line-height: 50px;
	display: inline-block;
	margin: 10px;
}

.pinterest {
	background-color: #9F233B;
	border-radius: 40px;
	height: 40px;
	width: 40px;
	line-height: 50px;
	display: inline-block;
	margin: 10px;
}

.flickr {
	background-color: #9F233B;
	border-radius: 40px;
	height: 40px;
	width: 40px;
	line-height: 50px;
	display: inline-block;
	margin: 10px;
}

#team .header,
#recentposts .header,
#recentposts .posts {
	margin-bottom: 40px;
}

/* RECENT POSTS */
#recentposts {
	background-color: #B6D6E1;
	padding-top: 80px;
}

/* CONTACT */
#contact {
	background-color: #333333;
	padding-top: 80px;
}

#contact #message {
	height: 200px;
}

/* FOOTER */
footer {
	background-color: #333333;
	color: #fff;
}

footer span.footer-text {
	color: #847D65;
}

div.footer-text {
	float: right;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
}

footer div {
	display: inline;
}

footer .facebook,
footer .pinterest,
footer .twitter,
footer .flickr {
	background-color: #535353;
}

/* RESPONSIVE */
/* width <= 480px */
@media (max-width: 480px) {
	div.nav {
		font-size: 14px;
		margin-left: 30px;
	}

	.section-heading {
		font-size: 26px;
	}

	.section-description {
		font-size: 16px;
	}
}

@media (min-width: 991px) and (max-width: 1524px) {
	.col-md-2 {
		width: 33.33333333%;
	}

	#team .team-pics .col-md-offset-3{
		margin-left: 0;
	}
}